<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mauricio Portfolio | Projects</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
        <script src="../js/script.js" ></script>
</head>
<body>
    <div class="app">
        <header>
            <nav class="top__navBar">
                <a href="../index.html"><img class="logo" src="../assets/img/logo-footer-background.png" alt="Mauricio Peregrino's logo"></a>
                <ul>
                    <li><a class="top__navBar__link" href="../index.html">Home</a></li>
                    <li><a class="top__navBar__link" href="../views/projects.html">Projects</a></li>
                    <li><a class="top__navBar__link" href="../views/resume.html">Resume</a></li>
                    <li><a class="top__navBar__link" href="../views/aboutme.html">About me</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>Projects</h1>
        </main>
        <footer>
            <div class="footer__navBar">
                <span class="footer__span">All rights reserved to Maurício Peregrino</span>
            </div>
        </footer>
    </div>
</html>